@font-face {
  font-weight: 400;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-regular.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-bold.woff") format("woff");
}
